<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <link href="/static/CSS/index.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="module">
        <h3>
            {% if status %}
                <form method="post" action={{ url_for('users.logout') }}>
                    <input type="submit" name="logout" value="로그아웃">
                </form>
                <a href="/my-profile">내 프로필</a>
            {% else %}
                <a href="/login">로그인</a>
            {% endif %}

            <a href="/write">게시물 작성</a>
        </h3>
    </div>

    <div class="search">
        <form method="post" action="/">
            <label>
               <input type="search" name="keyword" placeholder="검색">
            </label>
        </form>
    </div>

    <div id="contents">
        <div>
            {% for i in list %}
                <div class="user">{{ i.id }}</div>
            {% endfor %}
        </div>

        <div>
            <div id="col">
                <span class="title">제목</span>
                <span class="author">작성자</span>
                <span class="date">작성일</span>
                <span class="views">조회수</span>
            </div>

            <div>
            {% for board in boards %}
                <span class="row">
                        <span class="title">
                            <a href="/post/{{ board.No }}">{{ board.title }}</a>
                        </span>
                    <span class="author">{{ board.id }}</span>
                    <span class="date">{{ board.create_at }}</span>
                    <span class="views">{{ board.views }}</span>
                </span>
            {% endfor %}
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}
</div>
</body>
</html>
