<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/static/CSS/login.css" rel="stylesheet">
</head>
<body>
<div class="login-container">
    <h2><a href="/">Board</a></h2>
    <form method="post" action="/login">
        <input name="id" type="text" placeholder="ID">
        <input name="pw" type="password" placeholder="Password">

        {% for msg in get_flashed_messages() %}
            <div class="error-message">{{ msg }}</div>
        {% endfor %}

        <input type="submit" value="로그인">

        <div class="links">
            <a href="/findID">아이디 찾기</a>
            <a href="/findPW">비밀번호 찾기</a>
            <a href="/register">회원 가입</a>
        </div>
    </form>
</div>
</body>
</html>
