<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정</title>
    <link href="/static/CSS/update.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2>게시물 수정</h2>
    <form method="post" action="/update/{{ board.No }}">
        <div>
            <label>제목</label>
            <input type="text" name="title" value="{{ board.title }}">
        </div>
        <div>
            <label>내용</label>
            <textarea name="content">{{ board.content }}</textarea>
        </div>
        <div>
            <label class="checkbox-label">
                <input type="checkbox" name="secret" value="1" {% if board.secret == 1 %}checked{% endif %}>
                비밀글
            </label>
        </div>
        <div class="error">{{ error }}</div>
        <input type="submit" value="완료">
    </form>
</div>

<script>
    window.onload = function (){
        {% with error = get_flashed_messages() %}
            {% if error %}
                alert("{{ error[0]|escapejs }}");
            {% endif %}
        {% endwith %}
    }
</script>
</body>
</html>
