<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
</head>
<body>

    <form method="post" action="/write">
        <div>
            <p>
                <label>제목 :
                    <input type=text name = title>
                </label>
            </p>
        </div>
        <div>
            <p>
                <label> 내용 :
                    <textarea name="content"></textarea>
                </label>
            </p>
        </div>
        <input type="submit">
    </form>

</body>
</html>